<%= turbo_frame_tag :providers do %>
  <%= turbo_stream_from :providers  %>
  <div class="w-full">
    <table class="table-auto w-full">
      <thead>
        <tr>
          <th class="text-xl text-gray-400 text-left p-3"> Name </th>
          <th class="text-xl text-gray-400 text-left p-3"> NPI </th>
          <th class="text-xl text-gray-400 text-left p-3"> Primary Practice Address </th>
          <th class="text-xl text-gray-400 text-left p-3"> Taxonomy </th>
        </tr>
      </thead>
      <tbody id="providers-table-body">
        <% @providers.each do |provider| %>
          <%= render "provider_row", provider: provider %>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
