<div class="fixed bg-[#202032] rounded-lg top-[50%] left-[50%] -translate-x-[50%] -translate-y-[55%] p-10" data-controller="modal" data-action="click@window->modal#closeUnlessInside">
  <div class="flex justify-end absolute top-4 right-4">
    <a href="#" data-action="modal#close" class="w-9 text-gray-300">
      <%= render "shared/icons/times" %>
    </a>
  </div>
  <%= turbo_frame_tag frame, src: url do %>
    <span class="text-2xl text-gray-200"> loading <i class="fa-solid fa-gear fa-spin"> </i> </span>
  <% end %>
</div>
